
# Add any directories, files, or patterns you don't want to be tracked by version control

/practice-app/back-end/node_modules/*

.DS_Store
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
### VS Code ###
.vscode/
app/backend/aws_s3_config.py
app/backend/db_config.py
app/backend/api/migrations/0001_initial.py
app/backend/email_config.py
app/backend/shared_memory.json
