body * {
    box-sizing: border-box;
}

.login-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 16px 72px 72px 72px;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    max-width: 640px;
    width: 100%;
    color: #484848;
    margin: 0 auto;
}

.username {
    margin: 0 auto;
}

.login-header {
    text-align: center;
    padding: 32px;
}

.button-div {
    padding: 8px 16px 0px 16px;
}

.forgot-password {
    padding: 16px 0px 0px 16px;
    width: 50%;
    display: inline-block;
}

.signup {
    padding: 16px 16px 0px 0px;
    width: 50%;
    display: inline-block;
    text-align: right;
}

.social-login {
    text-align: center;
    justify-content: center;
}

.button-div2 {
    padding: 16px 16px 0px 16px;
}

.h5-style {
    padding: 16px 16px 8px 16px;
    text-align: center;
}

